body {
    background: rgba(24, 23, 23, 0.9);
    margin: 0;
    padding: 0;
    color: white;
    font-family: "DM Serif Display", serif;
  }
  .showcase{
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  nav {
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    font-size: 3em;
    color: rgb(224, 53, 53);
    position: relative;
    right: 28%;
  }
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    position: relative;
  }
  .navbar a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid rgb(224, 53, 53);
    transition: 0.4s linear;
  }

  .navbar a:hover:before {
    width: 100%;
  }
  section {
    max-width: 650px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  .h-txt p {
    font-size: 1rem;
  }
  h1 span {
    color: rgb(224, 53, 53);
  }
  .h-txt h1 {
    font-size: 2.8em;
  }

  .h-txt a {
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 2px;
    background: rgb(224, 53, 53);
    transition: 0.4s;
  }
  .h-txt a:hover {
    background: transparent;
    border: 2px solid rgb(224, 53, 53);
  }

/* features */
.image-grid {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; */
  display: flex;
  justify-content: center;
}

/* Style for the images */
.image-grid img {
  width: 30%; 
  height: 40vh;
  padding:30px 30px ;
}